container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: filter_crawler/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: filter_crawler.settings
  - option_name: AWS_SECRET_KEY
    value: 7qKy4t4hWT8QQiNsczaCGNlJ/J8/nVj5V060BIYt
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJJ52TTIFDQ6AV3TA
